.main-content {
  display: flex;
}

.main-content aside {
  padding-top: 5rem;
  width: 260px;
  height: fit-content;
  position: sticky;
  top: 50px;
  transition: width 0.5s;
  border-right: 1px solid var(--background-color);
}

.filters {
  padding: 2rem;
}

.filter-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: var(--primary-color);
  margin-bottom: 5rem;
}

.filter-title {
  font-size: var(--header-3);
  font-weight: 700;
}

.filter-clear {
  background: none;
  border: none;
  text-decoration: underline;
  font-size: var(--body-3);
  cursor: pointer;
}

.filter-type {
  margin-bottom: 5rem;
  text-align: left;
}

.filter-type-title {
  margin-bottom: 1rem;
  font-size: var(--body-2);
  font-weight: 400;
}

/* Product Listing */

.main-content main {
  padding: 5rem 2rem;
  flex: 1 0;
}

.filter-toggle {
  width: 3rem;
  margin: 2rem 0;
  display: none;
  cursor: pointer;
}

.prod-listing {
  display: grid;
  gap: 2rem;
  row-gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
}

.p1 {
  background-image: url(../assets/celtics.jpeg);
}
.p2 {
  background-image: url(../assets/lakers.jpeg);
}
.p3 {
  background-image: url(../assets/76ers.jpeg);
}
.p4 {
  background-image: url(../assets/clippers1.jpeg);
}
.p5 {
  background-image: url(../assets/grizzlies.jpeg);
}
.p6 {
  background-image: url(../assets/nets.jpeg);
}
.p7 {
  background-image: url(../assets/nola.jpeg);
}
.p8 {
  background-image: url(../assets/portland.jpeg);
}
.p9 {
  background-image: url(../assets/lakers1.jpeg);
}
.p10 {
  background-image: url(../assets/clippers2.jpeg);
}

@media (max-width: 1200px) {
  .main-content aside {
    width: 0;
  }
  .filters {
    display: none;
  }
  .filter-toggle {
    display: block;
  }
  .main-content main {
    padding: 0 2rem 5rem;
  }
  .prod-listing {
    width: 80%;
    margin: auto;
  }
}
